.animation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light {
  background: #192227;
  border: 1px solid rgba(15, 24, 29, 1);
  color: #192227;
  font-size: 35px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 100ms ease-in-out;
}

.light.active {
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  color: #263238;
  box-shadow: 0px 0px 15px rgba(83, 227, 166, 0.5),
    2px 2px 15px rgba(83, 227, 166, 0.3);
}

.light.not-active {
  background: linear-gradient(to bottom right, #a03333 0%, #ee2525 100%);
  color: #263238;
  box-shadow: 0px 0px 15px rgba(180, 72, 39, 0.5),
    2px 2px 15px rgba(134, 60, 51, 0.3);
}
